body {
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    min-width: 500px;
}

body > * {
    padding: 20px;
}

header > img {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

nav {
    background-color: #1d9cd7;
    border-radius: 5px;
    padding: 20px;
    padding-left: 10px;
}

nav > a,
nav > a:visited {
    padding: 10px;
    border-radius: 3px;
    margin-right: 10px;
    color: white;
}

nav > a.active,
nav > a:hover {
    background-color: white;
    text-decoration: none;
    color: #0055a5;
}

a,
a:visited {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 999px) {
    nav {
        border-radius: 0;
    }
}

a.upstream {
    border: 1px dashed black;
    padding: 5px;
    border-radius: 2px;
    background-color: white;
    color: black;
    font-size: 16px;
}

a.upstream:hover {
    background-color: #ffe3a8;
    text-decoration: none;
}

.identifier {
    font-family: monospace;
}

.placeholder {
    font-style: italic;
}

.targetable:target {
    background-color: rgba(255, 233, 0, 0.1);
}
