---
pages:
- name: about
  id: index
- name: team
  id: team
- name: publications
  id: publications
- name: visitors
  id: visitors
- name: related projects
  id: related
---
<!doctype html>
<html>
    <head>
        <title>ProFoundNet: Probabilistic Foundations for Networks — {{ page.title }}</title>

        <link rel="stylesheet" href="vendor/academicons/css/academicons.css" />
        <link rel="stylesheet" href="vendor/font-awesome/css/all.css" />
        <link rel="stylesheet" href="style/main.css" />
        {%- if page.style %}
        <link rel="stylesheet" href="style/{{ page.id }}.css" />
        {%- endif %}
        <link rel="icon" href="images/icon.png">

        <meta name="robots" content="noindex, nofollow, noimageindex" />
        <meta charset="utf-8" />
    </head>
    <body lang="en">
        <header>
            <img src="images/logo.png" />
        </header>
        <nav>
        {%- for link in layout.pages %}
            <a{% if page.id == link.id %} class="active"{% endif %} href="{{ link.id }}.html">{{ link.name | capitalize }}</a>
        {%- endfor %}
        </nav>
        <section id="content">
{{ content }}
        </section>
        <footer>
            {%- for credit in site.data.credits %}
            <a href="{{ credit.url }}"><img src="images/{{ credit.image }}" height="{{ credit.height }}px"></a>
            {%- endfor %}
        </footer>
    </body>
</html>
