---
layout: default
title: Visitors
id: visitors
style: true
---
<ul>
{%- for group in site.data.visitors %}
    <li class="visit">
        <span class="names">
        {%- for visitor in group.who -%}
        {% if forloop.first == false -%}
        {% if forloop.last == true %} and {% else %},{% endif -%}
        {% endif %}
        {% if visitor.website %}<a href="{{ visitor.website }}">{% endif %}{{ visitor.name }}{% if visitor.website %}</a>{% endif -%}
        {%- endfor %}
        </span>
        –
        <span class="affiliation">{{ group.affiliation }}</span>;
        <span class="duration">{{ group.when }}</span>
    </li>
{%- endfor -%}
</ul>

